@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  max-width: 1440px;
  min-width: 375px;
  background: #eee;
  font-weight: 300;
}
